@{
    ViewData["Title"] = "Home Page";
}
<style>
    h1 {
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        margin-left: -250px;
        margin-top: -400px;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        margin-left: -250px;
        font-size: 30px;
        letter-spacing: 5px;
    }

    .circle-image {
        width: 700px; 
        height: 700px; 
        border-radius: 50%;
        overflow: hidden;
        margin-left: 800px;
        margin-top: 50px;
    }

    .circle-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
    }
</style>
<div class="text-center">
    <img src="/css/image.jpg" alt="My Picture" class="circle-image">
    <h1 class="display-4">My name is Alexis Greko F. Agonoy</h1>
    <p>BSIT 32E1</p>
    
</div>
